# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.env.*
src/minio_data/


# VSCode / IDEs
.vscode/
.idea/

# Logs e arquivos temporários
*.log
*.tmp
*.bak
*.bin

# Docker
*.pid
*.sock
docker-compose.override.yml
volumes/
data/

# Airflow
airflow/airflow.db
airflow/airflow.cfg
airflow/logs/

# Jupyter
.ipynb_checkpoints/
*.ipynb~

# Spark
metastore_db/
derby.log


# MinIO
src/minio_data/
datalake/
**/.minio.sys/

# Arquivos grandes
*.parquet
*.db
*.zip
*.tar.gz
*.txt
*.bkp
*.meta